.body{
    background-color: rgba(34, 33, 32, 0.542);
}
/* <<<<<<<<<<<BUS BODY>>>>>>>>>>>>> */

.conteiner{
    width: 400px;
    height: 90px;
    background-color:red;
    top: 50%;
    border-top-right-radius: 3rem;
    border-top-left-radius: 2rem;
    
}

.middle{
    width: 500px;
    height: 120px;
    background-color:red;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0.5rem;
    
    
}
.bus1{
    animation-name: bus1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


/* >>>>>>>>>>wheel<<<<<<<<<<<<< */

.wheel{
    width: 50px;
    height:50px;
    border: 10px solid black;
    border-radius: 50%;
    position: relative;
    background-color: red;
    display: flex;
    justify-content: center;
    text-align: center;
    animation-name: wheel;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    top: 210%;
    left:14%;
    
}

.wheel:nth-child(2){
    position: relative;
    top: 125%;
    left: 85%;
}
.center{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: black;
    top: 20%;
    left: 20%;
    border-radius: 50%;
    align-items: center;
}

.line{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    top: 48%;
}

.line:nth-child(2){
    transform: rotate(45deg);
}
.line:nth-child(3){
    transform: rotate(90deg);
}
.line:nth-child(4){
    transform: rotate(135deg);
}

/* >>>>>>>>>>>>>>>window<<<<<<<<<<<<<<< */

.window{
    position: absolute;
    width: 70px;
    height: 60px;
    background-color: white;
    top:20px;
    left: 20px;
    border-top-left-radius: 1.5rem;
}
.window2{
    position: absolute;
    width: 70px;
    height: 60px;
    background-color:white;
    top:20px;
    left:95px;
    
}
.window3{
    position: absolute;
    width: 70px;
    height: 60px;
    background-color: white;
    top: 20px ;
    left: 170px;
    
}
.window4{
    position: absolute;
    width: 70px;
    height: 60px;
    background-color: white;
    top:20px ;
    left:245px;
    
}
.window5{
    position: absolute;
    width: 70px;
    height: 60px;
    background-color: white;
    top:20px;
    left:320px;
    border-top-right-radius: 1.5rem;
}


/* <<<P>>> */

p{
    text-align: center;
    font-size: 25px;
    color: white;
    top: 1px;
    text-align:center;
}

/* ===================== */

.road{
    background-color: black;
    width: 100%;
    height: 20px;
    margin-top: 200px;
}



/* 
>>>>>>>>>  frames <<<<<<<<< */


@keyframes wheel {
    0%{
        transform: rotate(0deg);
    }
    100%{    transform: rotate(360deg);
    }
}
@keyframes bus1 {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(102%);
    }
}
